.container__header {
  background-color: #1F282B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__logo > a > h3 {
  color: #755E4D;
}

.logo {
  width: 100px;
}

a {
  text-decoration: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown-menu {
  background-color: #925BD8;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #7c4eb8;
}

.container__icon > a {
  color: #755E4D;
}

