<div class="container__homepage">

  <img class="img-fluid w-100" src="../../../assets/img/background-image.png" alt="">

  <div class="container w-50 container__text">
    <h1 class="mb-3">Bem-vindo, caro Player!</h1>

    <p class="text-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac volutpat
      metus. Suspendisse vel congue orci, faucibus mattis eros. Nulla sodales at
      nibh sit amet aliquet. Morbi vel nisl sit amet nulla bibendum imperdiet.
      Nulla ornare mauris sed ullamcorper tempus. Suspendisse ultricies pulvinar
      purus. Etiam consectetur, sem nec sodales semper, erat nunc hendrerit leo,
      sed auctor nisi neque non odio. Duis interdum ex et hendrerit cursus.
      Proin vel risus justo.
    </p>
  </div>

</div>
