.container__text {
  /* border: 1px solid red; */
  position: relative;
  bottom: 1300px;
}

.container__text > h1 {
  color: white;
  text-align: center;
}

.container__text > p {
  text-align: justify;
}
