<div class="container mw-100 mh-100 mt-3 d-flex flex-column align-items-center container__homepage">

  <div class="container w-50 container__text mt-5 p-4">
    <h1 class="mb-3 text-center fw-bold">Bem-vindo, caro Player!</h1>

    <p class="text-light text-center">
      Aqui as histórias ganham vida! Você pode ser o herói da sua própria
      jornada, desvendando mistérios, enfrentando desafios épicos e forjando
      laços inquebráveis com seus companheiros de equipe. Prepare-se para
      mergulhar em cenários fantásticos, criar personagens únicos e vivenciar
      emoções intensas enquanto exploramos juntos as fronteiras da imaginação.
      Que os dados rolem a seu favor e que suas escolhas moldem destinos
      inesquecíveis. Seja bem-vindo à mesa, a aventura espera por você!
    </p>
  </div>

</div>
